.brand-mini-card {

	&__body {
		position: relative;
		display: flex;
		gap: 24px;
		padding: 24px;
		border-radius: 12px;
		background-color: $color-white;
		transition: box-shadow $duration-normal;

		&:hover {
			box-shadow: 0px 4px 20px 0px rgba(45, 47, 56, 0.08);
		}

		@include mobile() {
			padding: 8px;
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__image {
		flex: 0 0 120px;
		position: relative;
		width: 120px;
		height: 120px;
		overflow: hidden;
		border-radius: 8px;
		border: 1px solid #D5D9DF;

		@include mobile() {
			flex: 0 0 80px;
			width: 80px;
			height: 80px;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 120px;
			height: 120px;
			object-fit: contain;

			@include mobile() {
				width: 80px;
				height: 80px;
			}
		}
	}

	&__label {
		position: absolute;
		top: 9px;
		left: 9px;
		padding: 8px 18px;
		color: $color-white;
		border-radius: 24px;

		@include mobile() {
			left: auto;
			top: 14px;
			right: 14px;
		}
	}

	.label--green {
		background-color: #00AB5B;
	}

	.label--orange {
		background-color: #E55C00;
	}

	&__column {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 8px 0;
	}

	&__name {
		color: $color-txt-primary;
		margin: 0 0 8px 0;
	}

	&__about {
		color: $color-txt-secondary;

		@include mobile() {
			margin: 0 0 16px 0;
		}
	}

	&__count {
		display: flex;
		align-items: center;
		color: $color-brand-purple;
		margin: auto 0 0 0;

		p {
			padding: 0 10px 0 0;
		}

		svg {
			width: 10px;
			height: 10px;
		}
	}
}
