.breadcrumbs {
	margin: 24px 0;

	//@include desktop {
	//	margin-bottom: 12px;
	//	padding-top: 78px;
	//}

	&__list {
		position: relative;
		z-index: 5;
		display: flex;
		padding: 0;
		list-style-type: none;
		font-size: 14px;
		line-height: 1;
		color: #7A7E84;
		//overflow-x: auto;

		@include desktop {
			padding-bottom: 10px;
		}
	}

	&__item {
		display: flex;
	}

	&__link {
		color: inherit;
		transition: color $duration-normal;
		white-space: nowrap;

		&:hover {
			color: #000;
		}
	}

	&__current {
		white-space: nowrap;
	}

	&__devider {
		position: relative;
		width: 10px;
		margin: 0 12px;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 10px;
			height: 10px;
			background-image: url("../images/sprites/svg/arrow-crumbs.svg");
			background-repeat: no-repeat;
		}
	}
}
