.categories-cloud {

	&__body {

	}

	&__items {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 12px;

		@include mobile() {
			flex-wrap: nowrap;
			overflow-x: scroll;

			&::-webkit-scrollbar {
				width: 0;
				height: 0;
			}
		}
	}

	&__item {
		max-width: none;
		width: auto;

		&.hidden {
			display: none;

			@include mobile() {
				display: block;
			}
		}

		@include mobile() {
			white-space: nowrap;
			padding: 12px 20px;
		}
	}

	&__item-all {
		display: flex;
		align-items: center;
		gap: 8px;
		background-color: #E5E7EA;

		@include mobile() {
			display: none;
		}

		&:hover {

		}

		&.active span {

			svg {
				transform: rotate(90deg);
			}
		}

		p {
			color: $color-brand-purple;
		}
		&:hover p {
			color: $color-brand-purple-dark;
		}


		span {

			svg {
				width: 10px;
				height: 10px;
				fill: $color-brand-purple;
				transform: rotate(-90deg);
				transition: transform $duration-normal;
			}
		}
	}
}
