.coloring {

	border-radius: 16px;
	overflow: hidden;
	background: linear-gradient(90deg, #2564B8 0%, #3A75C4 100%);
	padding: 32px 24px;

	&__body {
		display: flex;
		flex-direction: column;
		gap: 24px;

	}


	&__image {

		svg {
			width: 36px;
			height: 36px;
		}
	}

	&__text {
		color: $color-white;

		h2 {
			margin: 0 0 12px 0;
		}
	}

	&__about {

	}

	&__link {
		display: flex;
		align-items: center;
		gap: 8px;

		p {
			color: $color-white;
		}

		span {

			svg {
				width: 6px;
				height: 10px;
				transform: rotate(-180deg);
				fill: #C5CAD3;
			}
		}
	}
}

