.page {

	padding: 0 0 115px 0;

	@media (max-width: 992px) {
		margin: 120px 0 0 0;
	}

	@include mobile() {
		padding: 0 0 24px 0;
	}

}

.page--title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: $color-txt-primary;
	margin: 0 0 24px 0;
}

.page--grid {
	display: grid;
	grid-template-columns: 392px auto;
	gap: 40px;

	@include desktop() {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	&-left {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	&-right {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}
}


.grid--reverse {
	@include desktop() {
		display: flex;
		flex-direction: column-reverse;
		gap: 32px;
	}
}

.catalog--grid {
	//display: grid;
	//grid-template-columns: repeat(3, 1fr);
	//column-gap: 40px;
	//row-gap: 32px;
	//margin: 0 0 32px 0;
	//
	//@media (min-width: 1026px) and (max-width: 1650px) {
	//	grid-template-columns: repeat(2, 1fr);
	//}
	//
	//@include desktop() {
	//	grid-template-columns: repeat(2, 1fr);
	//}
	//
	////@include tablet() {
	////	grid-template-columns: repeat(1, 400px);
	////}
}

.catalog--grid-default {
	//display: grid;
	//grid-template-columns: repeat(3, 1fr);
	//column-gap: 40px;
	//row-gap: 32px;
	//margin: 0 0 32px 0;
	//
	//@media (min-width: 1026px) and (max-width: 1650px) {
	//	grid-template-columns: repeat(2, 1fr);
	//}
	//
	//@include desktop() {
	//	grid-template-columns: repeat(2, 1fr);
	//}

	//@include tablet() {
	//	grid-template-columns: repeat(1, 400px);
	//}
}

.default--view {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 40px;
	row-gap: 32px;
	margin: 0 0 32px 0;

	@media (min-width: 1026px) and (max-width: 1650px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include desktop() {
		grid-template-columns: repeat(2, 1fr);
	}

	//@include tablet() {
	//	grid-template-columns: repeat(1, 400px);
	//}

	//.product-card {
	//	display: flex;
	//	flex-direction: column;
	//}
}

//.row--view{
//	display: grid;
//	grid-template-columns: 1fr;
//
//	.product-card {
//		display: flex;
//		flex-direction: column;
//	}
//}

.modal-bg {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .5);
	z-index: 35;
	transition: .3s all;
}

.modal-bg.active {
	opacity: 1;
	visibility: visible;
}

.custom--slider-arrows {

	@include tablet() {
		display: none;
	}

	.swiper-button-next, {
		right: -20px;
	}

	.swiper-button-prev, {
		left: -20px;
	}

	.swiper-button-prev,
	.swiper-button-next {
		width: 46px;
		height: 48px;
		border-radius: 50%;
		border: 2px solid #F3F4F6;
		background-color: #F3F4F6;
		transition: background-color $duration-normal;
	}

	.swiper-button-prev:hover,
	.swiper-button-next:hover {
		border: 2px solid $color-white;
		background-color: $color-brand-purple;
	}

	.swiper-button-prev::after,
	.swiper-button-next::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 24px;
		height: 24px;
		background-repeat: no-repeat;
		background-image: url("../images/sprites/svg/arrow-slider.svg");
		background-position: center;
		background-size: contain;
		transition: background-color $duration-normal;
	}

	.swiper-button-prev:hover::after,
	.swiper-button-next:hover::after {
		background-image: url("../images/sprites/svg/arrow-slider-hover.svg");
	}

	.swiper-button-next::after,
	.swiper-button-next:hover::after,{
		transform: rotate(-180deg);
	}

}

.text__block {


	&-hiddenText {
		display: block;

		&:not(:last-child) {
			margin: 0 0 15px 0;
		}

		&.active {
			display: none;
		}
	}

	&-btn {
		margin: 8px 0 0 0;
		display: flex;
		align-items: center;
		gap: 8px;
		color: $color-brand-purple;

		&.hidden {
			display: none;
		}

		&.active {
			span {
				svg {
					transform: rotate(-270deg);
				}
			}
		}

		span {
			svg {
				width: 10px;
				height: 10px;
				transform: rotate(-90deg);
				fill: #C5CAD3;
				transition: transform $duration-normal;
			}
		}
	}
}
.page-mobile-filter {
	display: none;
	margin: 0 0 24px 0;

	@include desktop() {
		display: block;
	}
}
