.header {
	position: relative;
	padding: 40px 0 24px;
	z-index: 20;

	@media (max-width: 992px) {
		position: fixed;
		top: 0;
		width: 100%;
		background-color: $color-white;
		box-shadow: 0 8px 32px 0 rgba(45, 47, 56, 0.08);
		padding: 20px 0;
	}

	@include mobile() {
		padding: 12px 0;
	}

	&__top {

		@media (max-width: 992px) {
			display: none;
		}

		&-body {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&-left {
			display: flex;
			align-items: center;
			gap: 56px;
			padding: 10px 0;

			@media (max-width: 1200px) {
				flex-direction: column;
				align-items: flex-start;
				gap: 15px;
			}
		}

		&-right {
			display: flex;
			align-items: center;
			gap: 56px;

			@media (max-width: 1200px) {
				gap: 15px;
			}

		}

	}

	&__city {

		display: inline-flex;
		align-items: center;
		gap: 8px;

		&-name {
			display: block;
			color: $color-brand-purple;
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 1.25;
			letter-spacing: 0.32px;
		}

		&-arrow {
			cursor: pointer;

			svg {
				width: 6px;
				height: 10px;
				transform: rotate(-90deg);
				fill: #C5CAD3;
			}
		}
	}

	&__nav {

		&-list {
			display: flex;
			gap: 20px;
		}

		&-elem {

			a {
				color: $color-txt-secondary;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 1.14;
				letter-spacing: 0.28px;

				&:hover {
					color: $color-brand-purple;
				}
			}

		}
	}

	&__phone {
		display: flex;
		align-items: center;
		gap: 12px;

		&-tel {
			display: flex;
			flex-direction: column;
			gap: 4px;

			a {
				color: $color-brand-purple;
			}

			span {
				color: $color-txt-secondary;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 1.14;
			}
		}

		&-arrow {
			cursor: pointer;

			svg {
				width: 6px;
				height: 10px;
				transform: rotate(270deg);
				fill: #C5CAD3;
			}
		}
	}

	&__user {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 4px;
		color: $color-brand-purple;

		&:hover &-logo {

			svg {
				fill: #596476;
			}
		}


		&-logo {

			svg {
				width: 24px;
				height: 24px;
				fill: #7D8899;
				transition: fill $duration-normal;
			}
		}

		&:hover {
			color: $color-brand-purple-dark;
		}
	}

	&__bottom {

		&-body {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 56px;
			padding: 16px 0;

			@media (max-width: 992px) {
				gap: 20px;
				padding: 0;
			}

		}

		&-left {
			flex: 1 1 auto;
			display: flex;
			align-items: center;
			gap: 56px;

			@include desktop() {
				gap: 15px;
			}

			@include mobile() {
				padding: 12px;
				gap: 0;
			}
		}

		&-right {

		}
	}

	&__logo {

		@include tablet() {
			padding: 0 10px 0 0;
		}


		svg {
			width: 140px;
			height: 58px;

			@include tablet() {
				width: 64px;
				height: 27px;
			}
		}
	}

	&__search-mobile {
		display: none;
		position: relative;
		padding: 10px;

		.header__search-icon {
			position: relative;
			right: 0;
			width: 24px;
			height: 24px;
		}

		@include mobile() {
			display: block;
		}
	}

	&__search {
		position: relative;

		width: 100%;
		max-width: 720px;
		//padding: 14px 48px 14px 24px;

		@include mobile() {
			display: none;
		}

		input {
			border-radius: 12px;
			padding: 14px 48px 14px 24px;
			background: #F3F4F6;
			border: 1px solid #F3F4F6;
			width: 100%;
			outline: none;
			transition: background $duration-normal, border $duration-normal;

			&:hover {
				background: #E5E7EA;
			}

			&:focus {
				border: 1px solid #C5CAD3;
				background: $color-white;
				box-shadow: 0 4px 20px 0 rgba(45, 47, 56, 0.08);
			}
		}


		&-icon {
			cursor: pointer;
			position: absolute;
			width: 20px;
			height: 20px;
			top: 0;
			right: 24px;
			bottom: 0;
			margin: auto 0;

			svg {
				fill: #7D8899;
			}
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		gap: 16px;

		@include mobile() {
			gap: 24px;
		}
	}

	&__menu {
		position: fixed;
		top: 210px;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $color-white;
		transform: scaleY(0);
		opacity: 0;
		visibility: hidden;
		transform-origin: top;
		transition: opacity $duration-normal, visibility $duration-normal, transform $duration-normal;

		@media (max-width: 992px) {
			top: 115px;
		}

		@include mobile() {
			padding: 16px 0 0 0;
			top: 0;
		}

		&.active {
			transform: scaleY(1);
			opacity: 1;
			visibility: visible;
		}

		&-header {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 1;
			background-color: white;
			display: none;
			align-items: center;
			justify-content: space-between;
			padding: 24px 16px;
			margin: 0 0 24px 0;

			@include mobile() {
				display: flex;
				box-shadow: 0 8px 32px 0 rgba(45, 47, 56, 0.08);
				margin: 0 0 10px 0;
			}

			@media (max-width: 400px) {
				padding: 16px;
			}

			&-title {

			}

			&-close {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				padding: 4px;

				svg {
					width: 24px;
					height: 24px;
					fill: #7D8899;
				}
			}
		}

		&-body {

			height: calc(100vh - 210px);
			overflow-y: scroll;

			&::-webkit-scrollbar {
				width: 0;
				height: 0;
			}

			@include mobile() {
				margin: 90px 0 0 0;
				height: calc(100vh - 170px);
			}
		}

		&-top {
			position: relative;
			padding: 8px 16px;
			border-radius: 12px;
			background: #F3F4F6;
			margin: 0 0 40px 0;


			&-items {
				display: flex;
				align-items: flex-end;
				justify-content: space-between;
				gap: 12px;

				@media (max-width: 992px) {
					flex-direction: column;
					align-items: center;
				}


				&-links {
					display: flex;
					align-items: center;
					gap: 12px;
					flex-wrap: wrap;

					@include desktop-xl() {
						gap: 6px;
					}

					@media (max-width: 992px) {
						display: grid;
						grid-template-columns: 1fr 1fr 1fr;
					}
					@include mobile() {
						grid-template-columns: 1fr;
					}
				}
			}

			&-item {
				padding: 16px 24px;
				color: #717C8D;

				@include desktop-xl() {
					padding: 16px;
				}

				@media (max-width: 992px) {
					text-align: center;
				}

				&:hover {
					color: $color-brand-purple;
					border-radius: 8px;
					background: rgba(57, 49, 133, 0.10);
				}
			}

			&-more {
				width: 132px;

				&.active {
					border-radius: 8px;
					background: rgba(57, 49, 133, 0.10);

					span {
						svg {
							fill: $color-brand-purple;
						}
					}
				}

				&:hover {

					span {
						svg {
							fill: $color-brand-purple;
						}
					}
				}

				span {
					display: block;

					svg {
						margin: 0 auto;
						width: 27px;
						height: 20px;
						transform: rotate(-90deg);
						fill: #7D8899;
						transition: fill $duration-normal;
					}
				}
			}
		}

		&-bottom {

		}

		&-grid {
			display: grid;
			grid-template-columns: auto 248px 248px;
			grid-auto-columns: 1fr;
			gap: 20px 40px;
			grid-template-areas:
    			"categories brands coloring";

			@media (max-width: 1500px) {
				grid-template-columns: 540px 248px 248px;
			}
			@media (max-width: 1200px) {
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 350px 350px 350px 350px auto 350px;
				gap: 40px;
				grid-template-areas:
    			"categories categories categories"
				"categories categories categories"
				"categories categories categories"
				"categories categories categories"
				"brands brands brands"
				"coloring coloring .";
			}
			@include mobile() {
				display: flex;
				flex-direction: column;
			}
		}

		&-categories {
			grid-area: categories;
			display: grid;
			grid-template-columns: repeat(4, 248px);
			column-gap: 40px;
			row-gap: 40px;

			@include desktop-xl() {
				grid-template-columns: repeat(3, 248px);
			}
			@media (max-width: 1500px) {
				grid-template-columns: repeat(2, 248px);
			}
			@media (max-width: 1200px) {
				grid-template-columns: repeat(4, 1fr);
			}
			@media (max-width: 992px) {
				grid-template-columns: repeat(3, 1fr);
			}
			@include mobile() {
				display: flex;
				flex-direction: column;
			}
		}

		&-category {

			&-title {
				display: block;
				margin: 0 0 16px 0;
			}

			&-list {
				display: flex;
				flex-direction: column;
				gap: 16px;
			}

			&-item {

				a {

				}
			}

			&-item-more {
				a {
					display: flex;
					align-items: center;
					gap: 8px;
					color: $color-brand-purple;

					span {
						svg {
							width: 10px;
							height: 10px;
							transform: rotate(-90deg);
							fill: #C5CAD3;
						}
					}
				}
			}
		}

		&-brands {
			grid-area: brands;
		}

		&-coloring {
			grid-area: coloring;
		}
	}

}


.menu__more {
	position: absolute;
	width: 280px;
	bottom: -197px;
	right: 16px;
	z-index: 21;
	transform: scaleY(0);
	opacity: 0;
	visibility: hidden;
	transform-origin: top;
	transition: opacity $duration-normal, visibility $duration-normal, transform $duration-normal;

	@media (max-width: 992px) {
		right: 0;
		left: 0;
		margin: 0 auto;
	}

	@include mobile() {
		position: fixed;
		display: flex;
		left: 0;
		bottom: -999%;
		width: 100%;
		height: 100vh;
		background-color: rgba(57, 49, 133, 0.75);
		z-index: 5;
		transform-origin: bottom;
	}

	&.active {
		transform: scaleY(1);
		opacity: 1;
		visibility: visible;

		@include mobile() {
			bottom: 0;
		}
	}

	&-header {
		display: none;
		align-items: center;
		justify-content: space-between;
		padding: 0 16px;
		margin: 0 0 16px 0;

		@include mobile() {
			display: flex;
		}


		span {

			svg {
				width: 24px;
				height: 24px;
				fill: #7D8899;
			}
		}
	}

	&-body {
		display: flex;
		flex-direction: column;
		padding: 4px 0;
		background-color: $color-white;
		border-radius: 8px;
		box-shadow: 0 4px 20px 0 rgba(45, 47, 56, 0.08);

		@include mobile() {
			width: 100%;
			margin: auto 0 0 0;
			border-radius: 8px 8px 0 0;
			padding: 24px 0 72px;
		}
	}

	&-list {
		//display: flex;
		//flex-direction: column;
		//padding: 4px 0;
		//background-color: $color-white;
		//border-radius: 8px;
		//box-shadow: 0 4px 20px 0 rgba(45, 47, 56, 0.08);
		//
		//@include mobile() {
		//	width: 100%;
		//	margin: auto 0 0 0;
		//	border-radius: 8px 8px 0 0;
		//}
	}

	&-item {

		a {
			display: block;
			padding: 16px;
			color: $color-txt-primary;

			&:hover {
				color: $color-brand-purple;
				background-color: #F3F4F6;
			}
		}
	}

}


.header-button {
	display: block;
	position: relative;
	width: 48px;
	height: 48px;
	border-radius: 40px;
	background-color: #F3F4F6;

	&:hover &__icon {

		svg {
			fill: $color-brand-purple;
		}
	}

	&__icon {
		position: absolute;
		width: 24px;
		height: 24px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;

		svg {
			fill: #7D8899;
			transition: fill $duration-normal;
		}
	}

	&__counter {
		position: absolute;
		top: -12px;
		right: -15px;
		border-radius: 40px;
		border: 4px solid $color-white;
		color: $color-white;
		background: #E40038;

		span {
			padding: 2px 6px;
			font-size: 14px !important;
		}
	}
}

.header-button-compare,
.header-button-favourites {

	@media (max-width: 992px) {
		display: none;
	}
}

.header-button-more {
	display: none;

	@media (max-width: 992px) {
		display: block;
	}
}

