.left-bar {
	border-radius: 12px;
	background: $color-white;
	border: 1px solid #E5E7EA;
	overflow: hidden;

	&__body {

	}

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__item {

	}

	&__item-link {
		color: $color-brand-purple;
		display: block;
		padding: 16px 24px;

		&:hover {
			background-color: rgba(57, 49, 133, 0.10);
		}

		&.active {
			background-color: $color-brand-purple;
			color: $color-white;
		}
	}
}
