.mobile--products-cards {
	display: none;
	flex-wrap: wrap;
	column-gap: 16px;
	row-gap: 36px;

	@include tablet() {
		display: flex;
	}
}
.mobile--products-cards .product-card {
	flex: 1 1 48%;

	@include mobile() {
		flex: 1 1 47%;
	}
}

.product-card {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 100%;
	padding: 24px;
	transition: box-shadow $duration-normal, background-color $duration-normal, border-radius $duration-normal;

	@include mobile() {
		padding: 0;
	}

	&:hover {
		border-radius: 12px;
		background-color: $color-white;
		box-shadow: 0 8px 32px 0 rgba(45, 47, 56, 0.08);

		.product-card__name-link {
			//position: absolute;
			//top: 0;
			//left: 0;
			//width: 100%;
			height: 100px;
			background-color: $color-white;

			&:after {
				//opacity: 0;
				display: none;
			}

			@include mobile() {
				height: 60px;

				&:after {
					display: block;
				}
			}

		}

		@include mobile() {
			box-shadow: none;
		}
	}


	&__body {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__image {
		margin: 0 auto;
		img {

		}
	}

	&__name {
		position: relative;
		//height: 60px;

		&-link {
			display: block;
			color: $color-txt-primary;
			overflow: hidden;
			position: relative;
			max-width: 330px;
			min-height: 60px;
			height: 60px;
			transition: height $duration-normal;


			&:after {
				opacity: 1;
				content: "";
				text-align: right;
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
				height: 1.2em;
				background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white 100%);
				pointer-events: none;
				transition: opacity $duration-normal;
			}

			@include mobile() {
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				font-size: 14px;
			}
		}
	}

	&__info {
		display: none;

		&-available {
			color: #00AB5B;
			margin: 0 0 16px 0;

			span {
				margin: 0 5px;
			}
		}

		&-about {


			&-block {
				max-height: 0;
				overflow: hidden;
				transition: max-height $duration-normal;
			}

			&-list {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 16px;
				padding: 0 0 16px 0;
			}

			&-item {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				gap: 10px;

				&:after {
					content: "";
					position: absolute;
					width: 80%;
					height: 15px;
					left: 25px;
					flex-grow: 1;
					background-image: radial-gradient(circle,#D5D9DF 1px,transparent 0);
					background-position: bottom;
					background-size: .8ex 2.7px;
					background-repeat: space no-repeat;
				}

				@media (max-width: 1400px) {
					align-items: flex-start;
					flex-direction: column;
					gap: 5px;

					&:after {
						display: none;
					}
				}
			}

			&-name {
				background-color: $color-white;
				white-space: nowrap;
				color: $color-txt-secondary;
			}

			&-separator {
				//flex: 1 0;
				//border-bottom: 1px dotted #D5D9DF;
				//height: 1px;
				//margin: 0 .4em;
				//border-bottom: 1px dotted #D5D9DF;
			}
			&-description {
				background-color: $color-white;
				margin: 0 0 0 auto;
				white-space: nowrap;

				@media (max-width: 1400px) {
					margin: 0;
				}
			}

			&-button {
				display: inline-flex;
				align-items: center;
				gap: 8px;

				&.active {

					span {

						svg {
							transform: rotate(90deg);
						}
					}
				}

				p {
					color: $color-brand-purple;
				}

				span {

					svg {
						width: 10px;
						height: 10px;
						fill: #C5CAD3;
						transform: rotate(270deg);
						transition: transform $duration-normal;
					}
				}
			}
		}

		&-footer {
			margin: 32px 0 0 0;
			display: flex;
			align-items: center;
			gap: 24px;

			&-button {
				display: flex;
				align-items: center;
				gap: 8px;
				color: $color-brand-purple;

				&:hover {

					span {

						svg {
							fill: $color-brand-purple;
						}
					}
				}

				span {

					svg {
						width: 20px;
						height: 20px;
						fill: #7D8899;
						transition: fill $duration-normal;
					}
				}
			}
		}
	}

	&__price {

		display: flex;
		align-items: center;
		gap: 12px;
		margin: 0 0 16px 0;

		@include mobile() {
			flex-direction: column;
			align-items: flex-start;
			gap: 4px;
		}


		&-current {
			white-space: nowrap;
			color: $color-txt-primary;
		}

		&-old {
			display: flex;
			align-items: center;
			padding: 4px 0;
			color: #717C8D;
			font-family: $font-family-montserrat;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			height: 25px;
			line-height: 1.14;
			text-decoration: line-through;
		}
	}

	&__footer {
		margin: auto 0 0 0;

		&-price {
			display: none;
		}
	}

	&__btn {
		color: $color-white;
		border-radius: 8px;
		max-height: 44px;
		height: 100%;

		@include mobile() {
			padding: 8px 16px;
			font-size: 12px;
			max-width: 95px;
		}
	}

	&__labels {
		position: absolute;
		top: 15px;
		left: 15px;
		display: flex;
		gap: 12px;
		align-items: center;

		@include mobile() {
			top: 0;
			gap: 5px;
			left: 0;
		}
	}

	&__label-discount {
		color: $color-white;
		padding: 8px 18px;
		border-radius: 24px;
		background: #E55C00;

		@include mobile() {
			padding: 8px 10px;
		}
	}

	&__label-status {
		color: $color-white;
		padding: 8px 18px;
		border-radius: 24px;
		background: #00AB5B;

		@include mobile() {
			padding: 8px 10px;
		}
	}
}

.card-column--view {
	.product-card {
		flex-direction: column;
	}
	.product-card__body {
		flex-direction: column;
	}

}

.card-row--view {

	.product-card {
		flex-direction: row;
	}
	.product-card__body {
		flex-direction: row;
	}
}
