.brands {

	//margin: 0 0 100px 0;

	&__left {
		&-bar {
			margin: 0 0 32px 0;
		}

		&-stok {

		}
	}


	&__right {

		&-text {
			margin: 0 0 32px 0;

			p {
				&:not(:last-child) {
					margin: 0 0 24px 0;
				}
			}
		}

		&-cards {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 40px;
			row-gap: 32px;

			@include desktop-xm() {
				grid-template-columns: 1fr;
			}
		}
	}
}
