.main-page {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: 24px 0 120px;

	@media (max-width: 992px) {
		margin: 120px 0 0 0;
	}

	&__banner {

		position: relative;

		&-body {

		}

		&-slider {
			position: relative;
			border-radius: 16px;
			overflow: hidden;
		}

		&-slide {

			position: relative;
			display: flex;
			align-items: center;
			gap: 78px;

			@include desktop() {
				gap: 25px;
			}

			@include tablet() {
				flex-direction: column;
			}

			@include mobile() {
				gap: 0;
				height: 420px;
			}


			&-image {
				flex: 0 1 47%;

				img {

				}

				@include desktop() {
					flex: 0 0 47%;
				}
				@include mobile() {

				}
			}

			&-about {
				display: flex;
				flex-direction: column;
				gap: 16px;
				align-items: flex-start;
				padding: 32px 40px;
				max-width: 590px;
				z-index: 1;

				@include desktop() {
					padding: 16px 16px 40px 16px;
				}

				@include tablet() {
					max-width: none;
				}
				@include mobile() {
					position: absolute;
					bottom: 25px;
					left: 0;
					right: 0;
					gap: 8px;
					margin: 0 auto;
					padding: 16px;
				}
			}

			&-title {
				color: $color-white;

				@include laptop() {

				}
			}

			&-text {
				color: $color-white;
				max-width: 530px;
			}

			&-btn {
				margin: 16px 0 0 0;
				color: $color-txt-primary;

				@include mobile() {
					margin: 32px auto 0 auto;
					max-width: -webkit-fill-available;
				}
			}
		}
	}

	&__stocks {
		&-title {
			margin: 0 0 5px 0;
		}

		&-items {
			display: flex;
			gap: 24px;
			padding: 20px 0;
		}

		&-item {
			border-radius: 16px;
			height: 264px;
			overflow: hidden;
			padding: 24px;
			display: flex;
			flex-direction: column;

			@include mobile() {
				padding: 16px;
				height: 200px;
			}

			&:hover {
				background: $color-white;
				box-shadow: 0 8px 32px 0 rgba(45, 47, 56, 0.08);
			}

			&:hover &-text {
				color: $color-brand-purple;
			}

			&:hover &-image {

				svg {
					fill: $color-aquamarine;
				}
			}

			&:hover &-date {
				color: #596476;
			}

			&-image {
				margin: 0 0 48px 0;

				@include mobile() {
					margin: 0 0 32px 0;
				}


				svg {
					width: 36px;
					height: 36px;
					fill: $color-white;
					transition: fill $duration-normal;
				}
			}

			&-text {
				color: $color-white;
				transition: color $duration-normal;
			}

			&-date {
				margin: auto 0 0 0;
				color: $color-white;
				transition: color $duration-normal;
			}
		}

		&-all-stocks {
			margin: 5px 0 0 0;
			display: flex;
			align-items: center;
			gap: 8px;
			border-radius: 12px;
			background: #F3F4F6;
			padding: 24px;
			color: $color-brand-purple;


			&:hover {
				color: $color-brand-purple-dark;
			}

			span {

				svg {
					width: 10px;
					height: 10px;
					fill: #C5CAD3;
					transform: rotate(-180deg);
				}
			}
		}
	}

	&__popular {

		&-title {
			margin: 0 0 5px 0;
		}

		&-items {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20px 0;
		}

		&-item {
			display: block;
			position: relative;
			border-radius: 16px;
			overflow: hidden;
			background: #F3F4F6;
			//width: 318.4px;
			height: 180px;
			padding: 24px;
			//margin: 0 12px;

			@include mobile() {
				height: 140px;
			}

			&:hover {
				background: $color-white;
				box-shadow: 0 4px 20px 0 rgba(45, 47, 56, 0.08);
			}

			&-text {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;
				z-index: 1;
			}

			&-name {
				color: $color-brand-purple;
				max-width: 152px;
			}

			&-count {
				color: #596476;

			}

			&-image {
				position: absolute;
				right: 0;
				bottom: -17px;
				width: 174px;
				height: 174px;
				object-fit: contain;
			}
		}
	}

	&__sale {

		position: relative;

		&-title {
			margin: 0 0 5px 0;
		}

		&-cards {
			padding: 20px 0;
		}

		.desctop--products-cards {
			@include tablet() {
				display: none;
			}
		}

	}

	&__brands {

		&-title {
			margin: 0 0 24px 0;
		}

		&-items {
			display: flex;
			align-items: center;
			gap: 16px;

			@include desktop-xm() {
				flex-wrap: wrap;
			}
		}

		&-item {
			flex: 0 1 268px;
			display: flex;
			align-items: center;
			gap: 16px;
			border-radius: 12px;
			background: #F3F4F6;
			padding: 16px;
			height: 72px;
			min-width: 240px;

			@include desktop-xm() {
				flex: 1 1 268px;
			}

			&:hover {
				border-radius: 12px;
				background: $color-white;
				box-shadow: 0 4px 20px 0 rgba(45, 47, 56, 0.08);
			}

			&-logo {

				img {
					width: 40px;
					height: 40px;
				}
			}

			&-name {
				color: $color-brand-purple;
			}
		}

		&-all-brands {

			justify-content: space-between;
			gap: 15px;

			p {
				color: $color-brand-purple;
			}

			span {
				color: #717C8D;
				display: flex;
				align-items: center;
				gap: 8px;

				svg {
					width: 10px;
					height: 10px;
					fill: #C5CAD3;
					transform: rotate(-180deg);
				}
			}
		}
	}

	&__about {
		margin: 44px 0 0 0;
		padding: 56px;
		border-radius: 16px;
		background-color: $color-brand-purple;
		display: flex;
		flex-direction: column;
		gap: 56px;

		@include tablet() {
			padding: 24px 16px;
		}

		@include mobile() {
			gap: 24px;
		}

		&-header {
			display: flex;
			gap: 32px;

			@include tablet() {
				flex-direction: column;
				align-items: flex-start;
				gap: 16px;
			}
		}

		&-logo {

			svg {
				width: 172px;
				height: 72px;

				@include mobile() {
					width: 90px;
					height: 38px;
				}
			}
		}

		&-title {
			display: flex;
			flex-direction: column;
			gap: 12px;
			color: $color-white;

			@include mobile() {
				gap: 4px;
			}
		}

		&-cards {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 32px;

			@include laptop() {
				flex-wrap: wrap;
				align-items: flex-start;
			}

			@include desktop() {
				flex-direction: column;

			}

		}

		&-card {
			flex: 1 1 auto;
			display: flex;
			align-items: center;
			gap: 24px;

			@include mobile() {
				flex-direction: column;
				align-items: flex-start;
			}

			&-icon {
				border-radius: 32px;
				background-color: rgba(255, 255, 255, 0.20);
				padding: 12px;

				svg {
					height: 36px;
					width: 36px;
				}
			}

			&-about {
				display: flex;
				flex-direction: column;
				gap: 4px;

				h4, p {
					color: $color-white;
				}
			}
		}

		&-text {
			max-width: 720px;

			p {
				color: $color-white;

				&:not(:last-child) {
					margin: 0 0 20px 0;
				}
			}
		}

		&-btn {
			margin: 24px 0 0 0;
			color: $color-txt-primary;

			@include tablet() {
				max-width: none;
			}
		}
	}

}

.banner--pagination {

	.swiper-pagination-bullet {
		width: 12px;
		height: 12px;
		border-radius: 12px;
		border: 3px solid $color-white;
		opacity: 0.4;
	}
	.swiper-pagination-bullet-active {
		background-color: $color-white;
		opacity: 1;
	}
}
