.product {

	@media (max-width: 992px) {
		margin: 120px 0 0 0;
	}


	&__body {

	}

	&__info {
		margin: 0 0 24px 0;

		&-title {
			margin: 0 0 40px 0;

			@media (max-width: 992px) {
				margin: 0 0 24px 0;
			}

			@include tablet() {
				font-size: 32px;
			}
		}

		&-color {
			margin: 0 0 32px 0;
		}

		&-packing {
			margin: 0 0 40px 0;

			@media (max-width: 992px) {
				margin: 0 0 24px 0;
			}
		}

		&-available {

			display: flex;
			flex-direction: column;
			gap: 6px;
			margin: 0 0 40px 0;

			@media (max-width: 992px) {
				margin: 0 0 24px 0;
			}

			&-now {
				display: none;
				color: #00AB5B;

				&-count {
					padding: 0 5px;
				}
			}

			&-not {
				color: $color-txt-secondary;
			}


			&-future {

				&-count {
					padding: 0 5px;
				}

				&-date {
					padding: 0 5px;
				}

				&-mouth {
				}
			}
		}

		&-price {
			display: flex;
			flex-direction: column;
			gap: 8px;
			margin: 0 0 32px 0;

			@include mobile() {
				gap: 12px;
			}


			&-top {
				display: flex;
				align-items: center;
				gap: 16px;

				@include mobile() {
					flex-direction: column;
					align-items: flex-start;
					gap: 12px;
				}
			}

			&-old {
				display: none;
				color: $color-txt-secondary;
				font-family: $font-family-montserrat;
				font-size: 18px;
				font-style: normal;
				font-weight: 600;
				line-height: 1.3;
				text-decoration-line: line-through;
			}

			&-discount {
				position: relative;
				display: flex;
				align-items: center;
				gap: 8px;

				h3 {
					color: $color-txt-secondary;
					line-height: 1;
					white-space: nowrap;
				}

				span {
					cursor: pointer;

					svg {
						width: 24px;
						height: 24px;
					}
				}

				&-note {
					position: absolute;
					left: 150px;
					bottom: 34px;
					max-width: 236px;
					width: 100%;
					opacity: 0;
					visibility: hidden;
					border-radius: 6px;
					box-shadow: 0 4px 20px 0 rgba(45, 47, 56, 0.08);
					background-color: $color-white;

					@include mobile() {
						position: fixed;
						z-index: 40;
						width: 100%;
						height: 100%;
						background-color: rgba(57, 49, 133, 0.75);
						left: 0;
						bottom: -999px;
						max-width: none;
						transition: background-color $duration-normal, bottom $duration-normal, opacity $duration-normal, visibility $duration-normal;

						&.active {
							bottom: 0;
							//opacity: 1;
							//visibility: visible;
						}

						&::after {
							display: none;
						}

						&-body {
							position: absolute;
							width: 100%;
							left: 0;
							bottom: 0;
							display: flex;
							flex-direction: column;
							background-color: $color-white;
							overflow: hidden;
							border-radius: 12px 12px 0 0;
							padding: 0 0 72px 0;
						}

					}

					&::after {
						content: '';
						position: absolute;
						bottom: -7px;
						left: 0;
						width: 236px;
						height: 8px;
						z-index: 2;
						background-image: url("../images/sprites/svg/triangle.svg");
						background-repeat: no-repeat;
					}

					&.active {
						opacity: 1;
						visibility: visible;
					}

					&-body {

					}

					&-title {
						display: flex;
						align-items: center;
						justify-content: space-between;
						padding: 5px 16px;
						box-shadow: 0px -1px 0px 0px #F0F0F0 inset;

						@include mobile() {
							box-shadow: none;
							padding: 24px 16px 16px 16px;

							h5 {
								font-size: 18px;
							}
						}
					}
					&-close {
						display: none;

						svg {
							fill: #7D8899;
						}

						@include mobile() {
							display: block;
						}
					}
					&-text {
						padding: 12px 16px;

						@include mobile() {
							padding: 0 16px;
						}
					}
				}
			}

			&-current {

			}

			&-economy {
				display: none;
				border-radius: 24px;
				background: #E55C00;
				padding: 8px 18px;

				p {
					color: $color-white;
				}
			}
		}

		&-basket-btn {
			margin: 0 0 40px 0;

			@media (max-width: 992px) {
				margin: 0 0 24px 0;
			}

			button {
				color: $color-white;
			}
		}

		&-payment {

		}

		&-what-need {
			margin: 0 0 24px 0;

			@media (max-width: 992px) {
				margin: 0 0 16px 0;
			}

			&__row {
				display: flex;
				justify-content: space-between;
				gap: 24px;
				padding: 16px 32px;

				@include laptop() {
					flex-direction: column;
					align-items: flex-start;
					gap: 8px;
				}

				@media (max-width: 992px) {
					padding: 12px 0;
				}

				&-text {
					display: flex;
					flex-direction: column;
					gap: 4px;

					p {
						color: $color-txt-secondary;
					}
				}

				&-link {
					display: inline-flex;
					align-items: center;
					gap: 8px;

					&:hover {
						p {
							color: $color-brand-purple-dark;
						}
					}

					p {
						color: $color-brand-purple;
					}

					span {

						svg {
							width: 10px;
							height: 10px;
							fill: #C5CAD3;
							transform: rotate(180deg);
						}
					}
				}
			}

			&__separator {
				width: 100%;
				height: 1px;
				background-color: #E5E7EA;
				margin: 8px 0;
			}
		}

		&-discount {
			border-radius: 12px;
			border: 1px solid #E5E7EA;
			padding: 24px 32px;

			&__body {
				display: flex;
				align-items: center;
				gap: 16px;
			}

			&__img {

				svg {
					width: 24px;
					height: 24px;
					fill: $color-brand-purple;
				}
			}

			&__text {
				display: flex;
				flex-direction: column;
				gap: 4px;

				p {
					color: $color-txt-secondary;
				}
			}
		}

		&-top {

			display: flex;
			gap: 40px;

			@media (max-width: 1200px) {
				flex-direction: column;
			}

			@media (max-width: 992px) {
				gap: 24px;
			}

			&-left {
				flex: 0 1 968px;
				@media (max-width: 1200px) {
					flex: 0 1 auto;
				}
			}

			&-right {
				flex: 0 1 680px;
				@media (max-width: 1200px) {
					flex: 0 1 auto;
				}
			}
		}

		&-right {

		}
	}

	&__compare {
		position: relative;
		padding: 24px 0;

		&-header {
			display: flex;
			align-items: center;
			gap: 24px;
			margin: 0 0 4px 0;

			@include tablet() {
				margin: 0 0 24px 0;
				flex-direction: column;
				align-items: flex-start;
			}
		}

		&-title {

		}

		&-link {
			display: flex;
			align-items: center;
			gap: 8px;

			&:hover {

				span {

					svg {
						fill: $color-brand-purple;
					}
				}
			}

			span {

				svg {
					width: 20px;
					height: 20px;
					fill: #7D8899;
					transition: fill $duration-normal;
				}
			}

			p {
				color: $color-brand-purple;
			}
		}

		&-slider {
			padding: 20px 0;

			@include tablet() {
				display: none;
			}
		}

		&-grid {
			display: none;

			@include tablet() {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				column-gap: 40px;
				row-gap: 32px;
			}
		}
	}

	&__viewed {
		position: relative;
		padding: 24px 0;

		&-header {
			display: flex;
			align-items: center;
			gap: 24px;
			margin: 0 0 4px 0;

			@include tablet() {
				margin: 0 0 24px 0;
			}
		}

		&-title {

		}

		&-slider {
			padding: 20px 0;

			@include tablet() {
				display: none;
			}
		}

		&-grid {
			display: none;

			@include tablet() {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				column-gap: 40px;
				row-gap: 32px;
			}
		}
	}

	&__gallery {

		border-radius: 12px;
		border: 1px solid #E5E7EA;
		padding: 32px;
		margin: 0 0 32px 0;

		@media (max-width: 992px) {
			margin: 0;
			padding: 16px;
		}

		//@include mobile() {
		//	padding: 16px 16px 40px 16px;
		//}

		.swiper-wrapper {
			padding: 0 0 32px 0;
		}

		.swiper-pagination {
			bottom: 0;
		}

		.swiper-pagination-bullet {
			background-color: #D5D9DF;
			opacity: 1;
		}

		.swiper-pagination-bullet-active {
			background-color: #596476;
		}

		&-slider {
			margin: 0 0 48px 0;

			@include tablet() {
				margin: 0 0 16px 0;
			}
			@include mobile() {
				margin: 0 ;
			}
		}
		&-slide {
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				width: 100%;
				height: 100%;
				max-height: 480px;
				max-width: 480px;
				object-fit: contain;
			}
		}

		&-thumbs {
			position: relative;
			margin: 0 auto;
			max-width: 400px;

			@include mobile() {
				display: none;
			}

			&-slide {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				max-height: 88px;

				img {

					border-radius: 16px;
					background: #F3F4F6;
					//width: 100%;
					width: 88px;
					height: 88px;
					object-fit: contain;
				}
			}

			.swiper-slide {
				border: 1px solid transparent;
				border-radius: 16px;
			}

			.swiper-slide-thumb-active {
				border: 1px solid #e0e0e0;
			}
		}
	}

	&__header {

		&-buttons {
			display: flex;
			align-items: center;
			gap: 24px;
			margin: 0 0 40px 0;

			@media (max-width: 992px) {
				margin: 0 0 24px 0;
				overflow-x: scroll;

				&::-webkit-scrollbar {
					width: 0;
					height: 0;
				}
			}
		}

		&-button {
			flex: 0 0 auto;
			display: flex;
			align-items: center;
			gap: 8px;

			&:hover {
				span {

					svg {
						fill: $color-brand-purple;
					}
				}
			}

			span {

				svg {
					width: 24px;
					height: 24px;
					fill: #7D8899;
					transition: fill $duration-normal;
				}
			}

			p {
				color: $color-brand-purple;
			}
		}
	}

	&__links {
		display: flex;
		align-items: center;
		gap: 32px;

		@include tablet() {
			flex-direction: column;
			gap: 8px;
		}

		&--desctop {
			display: flex;

			@media (max-width: 992px) {
				display: none;
			}
		}
		&--mobile {
			display: none;
			margin: 24px 0 0 0;

			@media (max-width: 992px) {
				display: flex;
			}
		}
	}

	&__link {
		flex: 0 1 50%;
		display: flex;
		gap: 16px;
		align-items: center;
		padding: 16px 24px;
		border-radius: 12px;
		background: #F3F4F6;

		@include tablet() {
			width: 100%;
			flex: 1 1 50%;
			padding: 16px;
		}

		&-img {
			width: 48px;
			height: 48px;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				object-fit: contain;
			}
		}

		&-text {
			display: flex;
			flex-direction: column;
			gap: 4px;

			p {
			}

			span {
				color: $color-txt-secondary;
			}
		}

		&-arrow {
			margin: 0 0 0 auto;

			svg {
				fill: #C5CAD3;
				width: 10px;
				height: 10px;
				transform: rotate(180deg);
			}
		}
	}

	&__about {

		@media (max-width: 992px) {
			display: none;
		}

		&-buttons {
			display: flex;
			align-items: center;
			border-bottom: 1px solid #E5E7EA;
			margin: 44px 0 36px 0;
		}

		&-button {
			position: relative;
			padding: 15px 24px;
			outline: none;
			background: none;
			border: none;
			color: $color-txt-secondary;

			&:hover {
				color: $color-txt-primary;
			}
			&.active {
				color: $color-txt-primary;
				transition: width $duration-normal, background-color $duration-normal;

				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 3px;
					background-color: $color-brand-purple;
				}
			}
		}

		&-text {

			&-block {

			}


			p {

				&:not(:last-child) {
					margin: 0 0 15px 0;
				}
			}

		}

		&-mobile {

			display: none;
			border-radius: 8px;
			background: #F3F4F6;
			margin: 24px 0 0 0;

			@media (max-width: 992px) {
				display: block;
			}

			&-body {
				display: flex;
				flex-direction: column;
			}

			&-row {
				padding: 24px 16px;

				&.active {

					span {

						svg {
							transform: rotate(-270deg);
						}
					}
				}

				&-title {
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 4px;

					span {

						svg {
							width: 10px;
							height: 10px;
							fill: #C5CAD3;
							transform: rotate(-90deg);
							transition: transform $duration-normal;
						}
					}
				}

				&-text {
					max-height: 0;
					overflow: hidden;
					transition: max-height $duration-normal;
				}

				&-text-block {
					padding: 24px 0 0 0;

					p {

						&:not(:last-child) {
							margin: 0 0 10px 0;
						}
					}
				}
			}

			&-separator {
				background-color: #E5E7EA;
				height: 1px;
				width: 100%;
			}

		}
	}
}

.payment-banner {
	border-radius: 12px;
	border: 1px solid #E5E7EA;
	padding: 32px;
	margin: 0 0 24px 0;

	@media (max-width: 992px) {
		margin: 0 0 16px 0;
	}

	@include tablet() {
		padding: 16px;
	}

	&__body {
		display: flex;
		flex-direction: column;
		gap: 24px;

		@include tablet() {
			gap: 16px;
		}
	}

	&__title {

	}

	&__row {
		display: flex;
		align-items: center;
		gap: 16px;

		&-img {

			svg {
				width: 20px;
				height: 20px;
				fill: $color-brand-purple;
			}
		}

		&-text {
			display: flex;
			flex-direction: column;
			gap: 4px;

			h4 {
			}

			p {
				color: $color-txt-secondary;
			}
		}
	}

	.payment-banner__row--green {
		color: #00AB5B;
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 8px;

		&:hover {
			p {
				color: $color-brand-purple-dark;
			}
		}

		p {
			color: $color-brand-purple;
		}

		span {
			svg {
				width: 10px;
				height: 10px;
				fill: #C5CAD3;
				transform: rotate(180deg);
			}
		}
	}

}

