include mixins/svg
include mixins/lazyElements
include mixins/header
include mixins/header-menu
include mixins/footer
include mixins/catalog-button
include mixins/product-card
include mixins/breadcrumbs
include mixins/left-bar
include mixins/coloring
include mixins/brand-mini-card
include mixins/categories
include mixins/show-more-btn
include mixins/pagination
include mixins/filter
include mixins/range-slider
include mixins/mobile-filter-btn
include mixins/brands
include mixins/categories-cloud
include mixins/switch-buttons
