

mixin brands(data)
	//brands
	.brands&attributes(attributes)
		.brands__items
			each brand in data
				a.brands__item(href= brand.link)
					.brands__item-logo
						img(src="./images/brands/" + brand.logo alt= brand.name)
					.brands__item-name.text-14= brand.name
			a.brands__all-brands.brands__item(href='./#')
				p.button-16 Все бренды
				span.h3 82
					+svg("arrow")
