mixin catalog-button()
	//catalog button
	a.catalog-button&attributes(attributes)
		.catalog-button__body
			.catalog-button__icon
				.catalog-button--default
					+svg("menu")
				.catalog-button--mobile
					+svg("menu")
				.catalog-button--active
					+svg("close-large")
			.catalog-button__text.h4 Каталог

