mixin coloring()
	//coloring-stock
	.coloring&attributes(attributes)
		.coloring__body
			.coloring__image
				+svg("bag2")
			.coloring__text
				h2.h2 Колеровка в подарок
				h5.h5 Скидка 100%
			a.coloring__link(href="#")
				p.button-14 Об акции
				span
					+svg("arrow")
