mixin header()
	.header.header--desctop
		.container
			.header__top
				.header__top-body
					.header__top-left
						.header__city
							p.header__city-name Чебоксары
							span.header__city-arrow
								+svg("arrow")
						nav.header__nav
							ul.header__nav-list
								li.header__nav-elem
									a(href="#") О нас
								li.header__nav-elem
									a(href="#") Контакты
								li.header__nav-elem
									a(href="#") Услуги
								li.header__nav-elem
									a(href="#") Как купить
								li.header__nav-elem
									a(href="#") Оплата и доставка
					.header__top-right
						.header__phone
							.header__phone-tel
								a.h4(href="tel:+78352551503") +7 (8352) 55-15-03
								span Бесплатно по России
							.header__phone-arrow
								+svg("arrow")
						a.header__user
							.header__user-logo
								+svg("user")
							p.header__user-text.button-16 Вход и регистрация
			.header__bottom
				.header__bottom-body
					.header__bottom-left
						.header__logo
							+svg("logo")
						+catalog-button()
						.header__search
							input(placeholder="Посик товаров")
							.header__search-icon
								+svg("search")
					.header__bottom-right
						.header__buttons
							-
								var buttons = [
									{
										icon: 'compare',
										counter: ''
									},
									{
										icon: 'heart',
										counter: ''
									},
									{
										icon: 'shopping-cart',
										counter: '12'
									},
								]
							each button in buttons
								.header__bottom-item
									+header-button(button.icon, button.counter)
