mixin header()
	//header
	.header.header--desctop
		.container
			.header__top
				.header__top-body
					.header__top-left
						.header__city
							p.header__city-name Чебоксары
							span.header__city-arrow
								+svg("arrow")
						nav.header__nav
							ul.header__nav-list
								li.header__nav-elem
									a(href="#") О нас
								li.header__nav-elem
									a(href="#") Контакты
								li.header__nav-elem
									a(href="#") Услуги
								li.header__nav-elem
									a(href="#") Как купить
								li.header__nav-elem
									a(href="#") Оплата и доставка
					.header__top-right
						.header__phone
							.header__phone-tel
								a.h4(href="tel:+78352551503") +7 (8352) 55-15-03
								span Бесплатно по России
							.header__phone-arrow
								+svg("arrow")
						a.header__user
							.header__user-logo
								+svg("user")
							p.header__user-text.button-16 Вход и регистрация
			.header__bottom
				.header__bottom-body
					.header__bottom-left
						.header__logo
							+svg("logo")
						+catalog-button()
						.header__search-mobile
							.header__search-icon
								+svg("search")
						.header__search
							input(placeholder="Поиcк товаров")
							.header__search-icon
								+svg("search")
					.header__bottom-right
						.header__buttons
							a.header-button.header-button-compare
								.header-button__icon
									+svg('compare')
							a.header-button.header-button-favourites
								.header-button__icon
									+svg('heart')
							a.header-button.header-button-cart
								.header-button__icon
									+svg('shopping-cart')
								.header-button__counter
									span.h5 12
							a.header-button.header-button-more
								.header-button__icon
									+svg('more')

