-
	var menuCategories = [
		{
			category: [
				{
					name: "Краски",
					link: "#"
				}
			],
			list: [
				{
					name: 'В баллончиках',
					link: '#'
				},
				{
					name: 'Для ванной комнаты',
					link: '#'
				},
				{
					name: 'Для внутренних работ',
					link: '#'
				},
				{
					name: 'Для дверей',
					link: '#'
				},
				{
					name: 'Для радиаторов',
					link: '#'
				},
				{
					name: 'Износостойкие',
					link: '#'
				},
				{
					name: 'Огнезащитные',
					link: '#'
				},
			]
		},
		{
			category: [
				{
					name: "Эмали",
					link: "#"
				}
			],
			list: [
				{
					name: 'Водостойкие',
					link: '#'
				},
				{
					name: 'Для внутренних работ',
					link: '#'
				},
				{
					name: 'Для кухни',
					link: '#'
				},
				{
					name: 'Для наружных работ',
					link: '#'
				},
				{
					name: 'Для радиаторов и батарей',
					link: '#'
				},
				{
					name: 'Моющиеся',
					link: '#'
				},
				{
					name: 'По ржавчине',
					link: '#'
				},
			]
		},
		{
			category: [
				{
					name: "Грунтовки",
					link: "#"
				}
			],
			list: [
				{
					name: 'Грунтовки «бетон-контакт»',
					link: '#'
				},
				{
					name: 'Быстросохнущие',
					link: '#'
				},
				{
					name: 'Для внутренних работ',
					link: '#'
				},
				{
					name: 'Для забора',
					link: '#'
				},
				{
					name: 'Для металла',
					link: '#'
				},
				{
					name: 'Для фасадов',
					link: '#'
				},
				{
					name: 'Для стен',
					link: '#'
				},
			]
		},
		{
			category: [
				{
					name: "Грунт-эмали",
					link: "#"
				}
			],
			list: [
				{
					name: 'Быстросохнущие',
					link: '#'
				},
				{
					name: 'Для радиаторов',
					link: '#'
				},
				{
					name: 'Алкидная',
					link: '#'
				},
				{
					name: 'Для ванной комнаты',
					link: '#'
				},
				{
					name: 'Для внутренних работ',
					link: '#'
				},
				{
					name: 'Для наружных работ',
					link: '#'
				},
				{
					name: 'Для пола',
					link: '#'
				},
			]
		},
		{
			category: [
				{
					name: "Лаки",
					link: "#"
				}
			],
			list: [
				{
					name: 'Акриловые',
					link: '#'
				},
				{
					name: 'Глянцевые',
					link: '#'
				},
				{
					name: 'Для бани и сауны',
					link: '#'
				},
				{
					name: 'Для внутренних работ',
					link: '#'
				},
				{
					name: 'Для дверей',
					link: '#'
				},
				{
					name: 'Для мебели',
					link: '#'
				},
				{
					name: 'Для радиаторов и батарей',
					link: '#'
				},
			]
		},
		{
			category: [
				{
					name: "Герметики",
					link: "#"
				}
			],
			list: [
				{
					name: 'Акриловые',
					link: '#'
				},
				{
					name: 'Водостойкие',
					link: '#'
				},
				{
					name: 'Для кафеля и плитки',
					link: '#'
				},
				{
					name: 'Для металла',
					link: '#'
				},
				{
					name: 'Кровельные',
					link: '#'
				},
				{
					name: 'Полиуретановые',
					link: '#'
				},
				{
					name: 'Прозрачные',
					link: '#'
				},
			]
		},
		{
			category: [
				{
					name: "Инструменты и аксессуары",
					link: "#"
				}
			],
			list: [
				{
					name: 'Абразивный инструмент',
					link: '#'
				},
				{
					name: 'Кельмы',
					link: '#'
				},
				{
					name: 'Малярные ленты',
					link: '#'
				},
				{
					name: 'Миксеры для красок',
					link: '#'
				},
				{
					name: 'Пистолеты для монтажной пены',
					link: '#'
				},
				{
					name: 'Респираторы',
					link: '#'
				},
				{
					name: 'Термофены',
					link: '#'
				},
			]
		},
		{
			category: [
				{
					name: "Штукатурки",
					link: "#"
				}
			],
			list: [
				{
					name: 'Штукатурка акриловая',
					link: '#'
				},
				{
					name: 'Штукатурка короед',
					link: '#'
				},
				{
					name: 'Штукатурка цветная',
					link: '#'
				},
				{
					name: 'Штукатурка декоративная',
					link: '#'
				},
				{
					name: 'Штукатурка силиконовая',
					link: '#'
				},
			]
		},
		{
			category: [
				{
					name: "Декоративные покрытия и арт",
					link: "#"
				},
				{
					name: "Антисептики",
					link: "#"
				},
				{
					name: "Колеровочные пасты",
					link: "#"
				},
				{
					name: "Огнебиозащита",
					link: "#"
				},
				{
					name: "Герметики, пена, клей, гидроизоляция, строительная химия",
					link: "#"
				},
			],
		},
		{
			category: [
				{
					name: "Воски",
					link: "#"
				},
				{
					name: "Гидроизоляция",
					link: "#"
				},
				{
					name: "Декоративная штукатурка",
					link: "#"
				},
				{
					name: "Лазури",
					link: "#"
				},
				{
					name: "Мастики",
					link: "#"
				},
			],
		},
		{
			category: [
				{
					name: "Пропитки",
					link: "#"
				},
				{
					name: "Растворители",
					link: "#"
				},
				{
					name: "Шпатлёвки",
					link: "#"
				},
				{
					name: "Масла",
					link: "#"
				},
				{
					name: "Аэрозоли",
					link: "#"
				},
			],
		},
		{
			category: [
				{
					name: "Отбеливатели",
					link: "#"
				},
				{
					name: "Очистители",
					link: "#"
				},
				{
					name: "Смолы",
					link: "#"
				},
				{
					name: "Лакокрасочные материалы",
					link: "#"
				},
			],
		},
	]
	var brands = [
		{
			name: 'Tikkurila',
			logo: "tikkurila.png",
			link: "#"
		},
		{
			name: 'VGT-ecology material',
			logo: "vgt.png",
			link: "#"
		},
		{
			name: 'ferumprotect',
			logo: "ferumprotect.png",
			link: "#"
		},
		{
			name: 'Tikkurila',
			logo: "tikkurila.png",
			link: "#"
		},
		{
			name: 'VGT-ecology material',
			logo: "vgt.png",
			link: "#"
		},
		{
			name: 'ferumprotect',
			logo: "ferumprotect.png",
			link: "#"
		},
		{
			name: 'Arton',
			logo: "arton.png",
			link: "#"
		},
		{
			name: 'Neomid',
			logo: "neomid.png",
			link: "#"
		},
	]
mixin header()
	//header
	.header.header--desctop
		.container
			.header__top
				.header__top-body
					.header__top-left
						.header__city
							p.header__city-name Чебоксары
							span.header__city-arrow
								+svg("arrow")
							.header__city-choise
								ul.header__city-choise-list
									li.text-14 Абакан
									li.text-14 Владимир
									li.text-14 Кострома
									li.text-14 Ярославль
						nav.header__nav
							ul.header__nav-list
								li.header__nav-elem
									a(href="#") О нас
								li.header__nav-elem
									a(href="#") Контакты
								li.header__nav-elem
									a(href="#") Услуги
								li.header__nav-elem
									a(href="#") Как купить
								li.header__nav-elem
									a(href="#") Оплата и доставка
					.header__top-right
						.header__phone
							.header__phone-tel
								a.h4(href="tel:+78352551503") +7 (8352) 55-15-03
								span Бесплатно по России
							.header__phone-arrow
								+svg("arrow")
							.header__phone-choise
								ul.header__phone-choise-list
									li
										a.h4(href="tel:+78352551503") +7 (8352) 55-15-03
										span.text-14 В Чебоксарах
									li
										a.h4(href="tel:+78003551590") +7 (800) 355-15-90
										span.text-14 Склад
						a.header__user(href="#")
							.header__user-logo
								+svg("user")
							p.header__user-text.button-16 Вход и регистрация
			.header__bottom
				.header__bottom-body
					.header__bottom-left
						.header__logo
							+svg("logo")
						+catalog-button()
						.header__search-mobile
							.header__search-icon
								+svg("search")
						.header__search
							input(placeholder="Поиcк товаров")
							.header__search-icon
								+svg("search")
					.header__bottom-right
						.header__buttons
							a.header-button.header-button-compare
								.header-button__icon
									+svg('compare')
							a.header-button.header-button-favourites
								.header-button__icon
									+svg('heart')
							a.header-button.header-button-cart
								.header-button__icon
									+svg('shopping-cart')
								.header-button__counter
									span.h5 12
							a.header-button.header-button-more
								.header-button__icon
									+svg('more')
								.header-button__counter
									span.h5 10
			+header-menu()
