-
	var menuCategories = [
		{
			category: [
				{
					name: "Краски",
					link: "#"
				}
			],
			list: [
				{
					name: 'В баллончиках',
					link: '#'
				},
				{
					name: 'Для ванной комнаты',
					link: '#'
				},
				{
					name: 'Для внутренних работ',
					link: '#'
				},
				{
					name: 'Для дверей',
					link: '#'
				},
				{
					name: 'Для радиаторов',
					link: '#'
				},
				{
					name: 'Износостойкие',
					link: '#'
				},
				{
					name: 'Огнезащитные',
					link: '#'
				},
			]
		},
		{
			category: [
				{
					name: "Эмали",
					link: "#"
				}
			],
			list: [
				{
					name: 'Водостойкие',
					link: '#'
				},
				{
					name: 'Для внутренних работ',
					link: '#'
				},
				{
					name: 'Для кухни',
					link: '#'
				},
				{
					name: 'Для наружных работ',
					link: '#'
				},
				{
					name: 'Для радиаторов и батарей',
					link: '#'
				},
				{
					name: 'Моющиеся',
					link: '#'
				},
				{
					name: 'По ржавчине',
					link: '#'
				},
			]
		},
		{
			category: [
				{
					name: "Грунтовки",
					link: "#"
				}
			],
			list: [
				{
					name: 'Грунтовки «бетон-контакт»',
					link: '#'
				},
				{
					name: 'Быстросохнущие',
					link: '#'
				},
				{
					name: 'Для внутренних работ',
					link: '#'
				},
				{
					name: 'Для забора',
					link: '#'
				},
				{
					name: 'Для металла',
					link: '#'
				},
				{
					name: 'Для фасадов',
					link: '#'
				},
				{
					name: 'Для стен',
					link: '#'
				},
			]
		},
		{
			category: [
				{
					name: "Грунт-эмали",
					link: "#"
				}
			],
			list: [
				{
					name: 'Быстросохнущие',
					link: '#'
				},
				{
					name: 'Для радиаторов',
					link: '#'
				},
				{
					name: 'Алкидная',
					link: '#'
				},
				{
					name: 'Для ванной комнаты',
					link: '#'
				},
				{
					name: 'Для внутренних работ',
					link: '#'
				},
				{
					name: 'Для наружных работ',
					link: '#'
				},
				{
					name: 'Для пола',
					link: '#'
				},
			]
		},
		{
			category: [
				{
					name: "Лаки",
					link: "#"
				}
			],
			list: [
				{
					name: 'Акриловые',
					link: '#'
				},
				{
					name: 'Глянцевые',
					link: '#'
				},
				{
					name: 'Для бани и сауны',
					link: '#'
				},
				{
					name: 'Для внутренних работ',
					link: '#'
				},
				{
					name: 'Для дверей',
					link: '#'
				},
				{
					name: 'Для мебели',
					link: '#'
				},
				{
					name: 'Для радиаторов и батарей',
					link: '#'
				},
			]
		},
		{
			category: [
				{
					name: "Герметики",
					link: "#"
				}
			],
			list: [
				{
					name: 'Акриловые',
					link: '#'
				},
				{
					name: 'Водостойкие',
					link: '#'
				},
				{
					name: 'Для кафеля и плитки',
					link: '#'
				},
				{
					name: 'Для металла',
					link: '#'
				},
				{
					name: 'Кровельные',
					link: '#'
				},
				{
					name: 'Полиуретановые',
					link: '#'
				},
				{
					name: 'Прозрачные',
					link: '#'
				},
			]
		},
		{
			category: [
				{
					name: "Инструменты и аксессуары",
					link: "#"
				}
			],
			list: [
				{
					name: 'Абразивный инструмент',
					link: '#'
				},
				{
					name: 'Кельмы',
					link: '#'
				},
				{
					name: 'Малярные ленты',
					link: '#'
				},
				{
					name: 'Миксеры для красок',
					link: '#'
				},
				{
					name: 'Пистолеты для монтажной пены',
					link: '#'
				},
				{
					name: 'Респираторы',
					link: '#'
				},
				{
					name: 'Термофены',
					link: '#'
				},
			]
		},
		{
			category: [
				{
					name: "Штукатурки",
					link: "#"
				}
			],
			list: [
				{
					name: 'Штукатурка акриловая',
					link: '#'
				},
				{
					name: 'Штукатурка короед',
					link: '#'
				},
				{
					name: 'Штукатурка цветная',
					link: '#'
				},
				{
					name: 'Штукатурка декоративная',
					link: '#'
				},
				{
					name: 'Штукатурка силиконовая',
					link: '#'
				},
			]
		},
		{
			category: [
				{
					name: "Декоративные покрытия и арт",
					link: "#"
				},
				{
					name: "Антисептики",
					link: "#"
				},
				{
					name: "Колеровочные пасты",
					link: "#"
				},
				{
					name: "Огнебиозащита",
					link: "#"
				},
				{
					name: "Герметики, пена, клей, гидроизоляция, строительная химия",
					link: "#"
				},
			],
		},
		{
			category: [
				{
					name: "Воски",
					link: "#"
				},
				{
					name: "Гидроизоляция",
					link: "#"
				},
				{
					name: "Декоративная штукатурка",
					link: "#"
				},
				{
					name: "Лазури",
					link: "#"
				},
				{
					name: "Мастики",
					link: "#"
				},
			],
		},
		{
			category: [
				{
					name: "Пропитки",
					link: "#"
				},
				{
					name: "Растворители",
					link: "#"
				},
				{
					name: "Шпатлёвки",
					link: "#"
				},
				{
					name: "Масла",
					link: "#"
				},
				{
					name: "Аэрозоли",
					link: "#"
				},
			],
		},
		{
			category: [
				{
					name: "Отбеливатели",
					link: "#"
				},
				{
					name: "Очистители",
					link: "#"
				},
				{
					name: "Смолы",
					link: "#"
				},
				{
					name: "Лакокрасочные материалы",
					link: "#"
				},
			],
		},
	]
	var brands = [
		{
			name: 'Tikkurila',
			logo: "tikkurila.png",
			link: "#"
		},
		{
			name: 'VGT-ecology material',
			logo: "vgt.png",
			link: "#"
		},
		{
			name: 'ferumprotect',
			logo: "ferumprotect.png",
			link: "#"
		},
		{
			name: 'Tikkurila',
			logo: "tikkurila.png",
			link: "#"
		},
		{
			name: 'VGT-ecology material',
			logo: "vgt.png",
			link: "#"
		},
		{
			name: 'ferumprotect',
			logo: "ferumprotect.png",
			link: "#"
		},
		{
			name: 'Arton',
			logo: "arton.png",
			link: "#"
		},
		{
			name: 'Neomid',
			logo: "neomid.png",
			link: "#"
		},
	]
mixin header-menu()
	//header-menu
	.header__menu
		.header__menu-header
			.header__menu-header-title
				h2.h2 Каталог
			span.header__menu-header-close
				+svg("close-large")
		.container
			.header__menu-body
				.header__menu-top
					.header__menu-top-items
						.header__menu-top-items-links
							a.header__menu-top-item.button-16(href="#") Красим металл
							a.header__menu-top-item.button-16(href="#") Защита и декор древесины
							a.header__menu-top-item.button-16(href="#") Декоративные покрытия
							a.header__menu-top-item.button-16(href="#") Фасады и интерьеры
							a.header__menu-top-item.button-16(href="#") Декоративные покрытия и арт
							a.header__menu-top-item.button-16(href="#") Для городской среды
						a.header__menu-top-item.header__menu-top-more
							span
								+svg("more")

						.header__menu-top-more-block.menu__more
							.menu__more-body
								.menu__more-header
									h3.h3 Ещё категории
									span.menu__more-close
										+svg("close")
								ul.menu__more-list
									li.menu__more-item
										a.text-14(href="#") Другая категория
									li.menu__more-item
										a.text-14(href="#") Ещё категория
									li.menu__more-item
										a.text-14(href="#") Новая категория
									li.menu__more-item
										a.text-14(href="#") Категория про другое
				.header__menu-bottom
					.header__menu-grid
						.header__menu-categories
							each menuCategory in menuCategories
								.header__menu-category
									each category in menuCategory.category
										a.header__menu-category-title.h3(href= category.link)= category.name
									if (menuCategory.list)
										ul.header__menu-category-list
											each item in menuCategory.list
												li.header__menu-category-item
													a.text-14(href= item.link)= item.name
											li.header__menu-category-item.header__menu-category-item-more
												a.text-14(href="#")
													p Ещё
													span
														+svg("arrow")
						.header__menu-brands
							+brands(brands).brands--menu
						.header__menu-coloring
							+coloring()
