mixin pagination()
	//product-card
	.pagination&attributes()
		ul.pagination__list
			li.pagination__item.pagination__btn.pagination__btn-prev
				span
					+svg("arrow")
			li.pagination__item.pagination--num.active 1
			li.pagination__item.pagination--num 2
			li.pagination__item.pagination--num 3
			li.pagination__item.pagination--num 4
			li.pagination__item.pagination--num 5
			li.pagination__item.pagination--separator
				span
					+svg("more")
			li.pagination__item.pagination--num 25
			li.pagination__item.pagination__btn.pagination__btn-next
				span
					+svg("arrow")



