

mixin switch-buttons(data)
	//brands
	.switch-buttons&attributes(attributes)
		.switch-buttons__body
			button.switch-buttons__button.active(data-view="view1")
				+svg("view_1")
			button.switch-buttons__button(data-view="view2")
				+svg("view_2")
