-
	var leftBarData = [
		{
			name: 'Новости',
			link: '/'
		},
		{
			name: 'Бренды',
			link: '/',
			active: true
		},
		{
			name: 'Наши проекты',
			link: '/'
		},
		{
			name: 'Вакансии',
			link: '/'
		},
		{
			name: 'Политика обработки',
			link: '/'
		}
	]

.container
	.brands
		h1.brands__title.page--title.h1 Бренды
		.brands__content.page--grid
			.brands__left
				.brands__left-bar
					+left-bar(leftBarData)
				.brands__left-stok
					.brands__stok
						.brands__stok-image
							+svg("bag2")
						.brands__stok-text
							h2.h2 Колеровка в подарок
							h5.h5 Скидка 100%
						a.brands__stok-link
							p.button-14 Об акции
							span
								+svg("arrow")
			.brands__right
				.brands__text
					p.text-16-long При общении с нами, Вы общаетесь НАПРЯМУЮ с Производителем, т.к. наша компания является уполномоченной организацией более 30 крупнейших заводов на вверенной территории!
					p.text-16-long Мы ведем постоянную "горячую линию" с производством и потому имеем возможность оперативно решать даже самые продвинутые технические и экономические вопросы.

