-
	var leftBarData = [
		{
			name: 'Новости',
			link: '/'
		},
		{
			name: 'Бренды',
			link: '/',
			active: true
		},
		{
			name: 'Наши проекты',
			link: '/'
		},
		{
			name: 'Вакансии',
			link: '/'
		},
		{
			name: 'Политика обработки',
			link: '/'
		}
	]
	var brands = [
		{
			name: 'Tikkurila',
			about: 'Финский производитель лакокрасочной продукции',
			count: 1024,
			image: 'tikkurila',
			link: './brand.html',
			statusNew: false,
			statusSale: false,
		},
		{
			name: 'VGT-ecology material',
			about: 'Современный лакокрасочный завод',
			count: 800,
			image: 'vgt',
			link: './brand.html',
			statusNew: true,
			statusSale: false,
		},
		{
			name: 'V33',
			about: 'Лакокрасочные материалы, средства защиты деревянных изделий из Франции',
			count: 720,
			image: 'V33',
			link: './brand.html',
			statusNew: false,
			statusSale: false,
		},
		{
			name: 'ferumprotect',
			about: 'Торговая марка современных лакокрасочных материалов по металлу',
			count: 560,
			image: 'ferumprotect',
			link: './brand.html',
			statusNew: false,
			statusSale: false,
		},
		{
			name: 'Prodecor',
			about: 'Ярославский завод «Русские краски»',
			count: 580,
			image: 'prodecor',
			link: './brand.html',
			statusNew: false,
			statusSale: true,
		},
		{
			name: 'OSMO',
			about: 'Бренд из Германии представлен во всех странах мира',
			count: 552,
			image: 'osmo',
			link: './brand.html',
			statusNew: false,
			statusSale: false,
		},
		{
			name: 'Finncolor',
			about: 'Товарный портфель компании это экологичные и долговечные материалы',
			count: 540,
			image: 'finncolor',
			link: './brand.html',
			statusNew: false,
			statusSale: false,
		},
		{
			name: 'Gallery VGT',
			about: 'Высокодекоративная линейка завода ВГТ',
			count: 520,
			image: 'vgt-gallery',
			link: './brand.html',
			statusNew: false,
			statusSale: false,
		},
		{
			name: 'VGT Premium',
			about: 'Премиум-линейка завода ВГТ',
			count: 480,
			image: 'vgt-premium',
			link: './brand.html',
			statusNew: false,
			statusSale: false,
		},
		{
			name: 'Decorazza',
			about: 'Декоративные штукатурки, дизайнерские краски, тонкослойные покрытия',
			count: 420,
			image: 'decorazza',
			link: './brand.html',
			statusNew: false,
			statusSale: false,
		},
		{
			name: 'COLOR FACTOR',
			about: 'Краски для стен внутри и снаружи зданий профессионального качества',
			count: 320,
			image: 'color-factory',
			link: './brand.html',
			statusNew: false,
			statusSale: false,
		},
		{
			name: 'Belinka',
			about: 'Производитель средств защиты древесины из Словении',
			count: 300,
			image: 'belinka',
			link: './brand.html',
			statusNew: false,
			statusSale: false,
		},
		{
			name: 'Arton',
			about: 'Аэрозольные краски универсальные, для художественных работ и граффити',
			count: 320,
			image: 'arton',
			link: './brand.html',
			statusNew: false,
			statusSale: false,
		},
		{
			name: 'Fujiwara Chemical',
			about: 'Экологически чистые Японские краски и покрытия',
			count: 280,
			image: 'fujiwara',
			link: './brand.html',
			statusNew: false,
			statusSale: false,
		},
		{
			name: 'Neomid',
			about: 'Профессиональные препараты для древесины, камня, бетона',
			count: 320,
			image: 'neomid',
			link: './brand.html',
			statusNew: false,
			statusSale: false,
		},
		{
			name: 'Белколор',
			about: 'Лакокрасочный завод в Белгороде',
			count: 280,
			image: 'belcolor',
			link: './brand.html',
			statusNew: false,
			statusSale: false,
		},
		{
			name: 'Silk Plaster',
			about: 'Жидкие обои',
			count: 240,
			image: 'silk-plaster',
			link: './brand.html',
			statusNew: false,
			statusSale: false,
		},
		{
			name: 'Wagner',
			about: 'Окрасочное оборудование проффессионального качества из Германии',
			count: 120,
			image: 'wagner',
			link: './brand.html',
			statusNew: false,
			statusSale: false,
		},
		{
			name: 'Квил',
			about: 'Современный лакокрасочный завод в Белгороде',
			count: 104,
			image: 'kvil',
			link: './brand.html',
			statusNew: false,
			statusSale: false,
		},
		{
			name: 'Новоколор',
			about: 'Общестроительные лакокрасочные материалы',
			count: 72,
			image: 'novocolor',
			link: './brand.html',
			statusNew: false,
			statusSale: false,
		},
	]
.container
	.brands.page
		+breadcrumbs(['Главная'], 'Бренды')
		h1.brands__title.page--title.h1 Бренды
		.brands__content.page--grid.grid--reverse
			.brands__left
				.brands__left-bar
					+left-bar(leftBarData)
				.brands__left-stok
					+coloring()
			.brands__right
				.brands__right-text
					p.text-16-long При общении с нами, Вы общаетесь НАПРЯМУЮ с Производителем, т.к. наша компания является уполномоченной организацией более 30 крупнейших заводов на вверенной территории!
					p.text-16-long Мы ведем постоянную "горячую линию" с производством и потому имеем возможность оперативно решать даже самые продвинутые технические и экономические вопросы.
				.brands__right-cards
					each brand in brands
						+brand-mini-card(brand.name, brand.about, brand.count, brand.image, brand.link, brand.statusNew, brand.statusSale)
