// Modal Filter
#modal-filter.modal-filter
	.modal-filter__body
		.modal-filter__header
			.modal-filter__header-title
				h3.h3 Фильтры
			span.modal-filter__close
				+svg("close-large")
		+filter()
