extends pug/base

prepend vars
	- title = 'Бренд'
	- description = 'Бренд'

append vars
	- breadcrumbs = {pagesBefore:['Главная', 'Бренды'], pagesCurrent:'Тиккурила'}

block content
	include pug/pages/brand

