extends pug/base

prepend vars
	- title = 'Бренды'
	- description = 'Бренды'

append vars
	// - breadcrumbs = {pagesBefore:['Главная', 'wefwef'], pagesCurrent:'Бренды'}

block content
	include pug/pages/brands

