html
	head
		title Список страниц
		meta(charset='utf-8')
		style.
			body {
				display: flex;
				min-height: 100vh;
				font-size: 30px;
			}
			.content {
				margin: auto;
			}
			a {
				text-decoration: none;
				color: inherit;
			}
	body
		.content
			h2 Список страниц
			ul
				li
					a(href="main.html", target="_blank") Главная
				li
					a(href="brands.html", target="_blank") Бренды
				li
					a(href="brand.html", target="_blank") Бренд
				li
					a(href="category.html", target="_blank") Категория
				li
					a(href="product.html", target="_blank") Карточка товара

