extends pug/base

prepend vars
	- title = 'ТЕХНОДЕКОР'
	- description = 'Главная технодекор'

append vars
	//-

block content
	//- include pug/data

	//- .site
	include pug/components/header
	include pug/pages/main

	include pug/components/footer
	//- include pug/components/analytics
