.h1 {
	font-family: $font-family-montserrat;
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.16;

	@include laptop() {
		font-size: 32px;
	}
	@include mobile() {
		font-size: 18px;
	}
}

.h2 {
	font-family: $font-family-montserrat;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.25;

	@include mobile() {
		font-size: 18px;
	}
}

.h3 {
	font-family: $font-family-montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.33;
}

.h4 {
	font-family: $font-family-montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.25;
}

.h5 {
	font-family: $font-family-montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.14;
}

.text-16 {
	font-family: $font-family-inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.25;
}

.text-16-long {
	font-family: $font-family-inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.75;

	@include laptop() {
		font-size: 14px;
	}
}

.text-14 {
	font-family: $font-family-inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.14;

	//@include mobile() {
	//	font-size: 12px;
	//}
}

.text-14-long {
	font-family: $font-family-inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.42;
}

.caption-12 {
	font-family: $font-family-inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.33;
	letter-spacing: 0.24px;
}

.button-16 {
	font-family: $font-family-inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.25;
	letter-spacing: 0.32px;

	@include desktop() {
		font-size: 14px;
	}
}

.button-14 {
	font-family: $font-family-inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.28px;
}

.button-12 {
	font-family: $font-family-inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.33;
	letter-spacing: 0.36px;
}

.price-l {
	font-family: $font-family-montserrat;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.14;
}

.price-m {
	font-family: $font-family-montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.16;
}

.price-s {
	font-family: $font-family-montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.33;

	@include mobile() {
		font-size: 14px;
		font-weight: 500;
		line-height: 1.14;
	}
}

