// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS
$color-black: #000C1A;
$color-white: #fff;
$color-gray: #596476;
$color-orange-dark: #E55C00;
$color-brand-purple: #393185;
$color-brand-purple-dark: #1E2152;
$color-indigo: #5057F7;
$color-orange: #F7A050;
$color-french-pink: #F7508C;
$color-purple: #AE50F7;
$color-aquamarine: #14BDAA;
$color-soft-red: #F75050;
$color-blue: #50A7F7;
$color-fuchsia: #F750DC;
$color-yellow: #F7BE50;
$color-green: #5ECE2A;
$color-txt-secondary: #717C8D;
$color-txt-primary: #000C1A;

// FONTS
// stylelint-disable-next-line
$font-family-inter: "Inter", sans-serif;
$font-family-montserrat: "Montserrat", sans-serif;
$font-family-roboto: "Roboto", sans-serif;

// EASING TRANSITIONS
$duration-normal: 0.4s;
$easing-back-out: cubic-bezier(0.25, 0.74, 0.22, 1.1); // http://cubic-bezier.com/#.25,.74,.22,1.1
$easing-back-in: cubic-bezier(0.47, -0.1, 0.5, -0.06); // http://cubic-bezier.com/#.47,-0.1,.5,-.06
$easing-out: ease-out;
$easing-in: ease-in;

// Settings
$desktop: 1025;
$desktop-xm: 1650;
$desktop-xl: 1800;
$laptop: 1440;
$tablet: 768;
$mobile: 564;
$desktop-vh: 750;
